{% extends 'base.html' %}
{% block content %}
    <h2>Detalle de Entregas</h2>
    <div class="card p-3 shadow-sm">
        <div class="d-flex flex-column gap-2">
            <span><strong>Fecha Entrega:</strong> {{ object.fecha_entrega }}</span>
            <span><strong>Familia:</strong> {{ object.familia }}</span>
            <span><strong>Ayuda:</strong> {{ object.tipo_ayuda }}</span>
            <span><strong>Voluntario:</strong> {{ object.voluntario }}</span>
            <span><strong>Observaciones:</strong> {{ object.observaciones }}</span>
        </div>
    </div>
    <a href="{% url 'entrega_update' object.id %}" class="btn btn-primary mt-3">Editar</a>
    <a href="{% url 'entrega_delete' object.id %}" class="btn btn-danger mt-3">Eliminar</a>
    <a href="{% url 'entrega_list' %}" class="btn btn-secondary mt-3">Volver</a>
{% endblock %}
